<div
  id="article-banner"
  style="background-image: url(<%- theme.about.banner %>)"
>
  <h1>Archives</h1>
  <p class="post-date">文章歸檔</p>
</div>
<main
  class="app-body"
  id="archives"
>
  <% let years = {}; %>
  <%
    site.posts.each(post => {
      const y = post.date.year();
      if (!years[y]) {
        years[y] = [];
      }
      years[y].push(post);
    })
  %>
  <% for (let year of Object.keys(years).reverse()) { %>
  <%- partial('_partial/archive', { year: year, posts: years[year].reverse() }) %>
  <% } %>
</main>