.toc-container{
  position: fixed;
  right:0;
  top:10rem;
  height: 30vw;
  overflow-y: scroll;
  z-index: 1;
  list-style: none;
  line-height: 1.5rem;
  opacity: 0;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 10px;
  font-size: 0.8rem;
  &:hover{
    opacity: 1;
    transition: opacity 1s;
  }
}
.toc-child{
  list-style: none;
}
