<div class="archive content-area">
  <div class="container">
    <div class="about">
      <h1 class="entry-title">
        <%- page.title %>
      </h1>
      
        <img src="/img/leia.png">
        <div class="about-content">
        <h2>About</h2>
        <p>
 Front-end Developer
        </p>
        <p>
 graduated from Shu-Te University Visual Communication Design in 2018
        </p>
      
        <p>
 不會就學吧。
        </p>
        </div>
      </div>
      <%- partial('_partial/pagination') %>
    </div>
</div>