<div class="archive content-area">
  <div class="container">
    <div class="about">
        <div class="about-header">
          <div class="photo">
            <img src="/img/leia.png">
          </div>
          <div class="about-brief">
            <h1 class="entry-title">
              <%- page.title %>
            </h1>
              <h4>資訊爆炸的時代，熱愛前端技術的我們很幸運。</h4>
              <ul>
                <li>2016 開始投入前端技術學習</li>
                <li>2018 樹德科技大學 視覺傳達設計系畢</li>
                <li>2018 好想工作室 freelancer</li>
                <li>2018 已婚</li>
              </ul>
          </div>
        </div>
        <div class="about-content">
         
        </div>
      </div>
      <%- partial('_partial/pagination') %>
    </div>
</div>