<div class="site-content home">
  <main class="content-area">
    <% page.posts.each(function(item, itemIndex){ %>
      <div class="post-article">
        <%- partial('_partial/article-index', {item: item}) %>
      </div>
      <% }); %>

        
  </main>
<%- partial('_partial/pagination') %>
</div>