<div class="archive content-area">
  <div class="container">
    <div class="justTalks">
    <h1 class="page-title"><%- page.title %></h1>
      <div class="justTalks-content">
      </div>
    </div>
    <%- partial('_partial/pagination') %>
  </div>
</div>