<div class="archive content-area">
  <div class="container">
  <div class="sideprojects">
      <h1 class="entry-title">
        <%- page.title %>
      </h1>
      <div class="sideprojects-content">
        <div class="project">
          <h4 class="title">
          <a href="http://codingwife.com/TheF2E/#/week-01" target="_blank">精神時光屋 week01 - Todolist</a>
          </h4>
          <img src="/img/theF2E/week01.png" alt="">
        </div>
      </div>
    </div>
    <%- partial('_partial/pagination') %>
  </div>
</div>