<div class="tag-clouds">
  <div class="page-title">TagClouds</div>
  <div class="tags-links">
    <% if (site.tags) { %>
    <% site.tags.each(function(tag){ %>
    <a href="<%= config.root %>tags/<%= tag.name %>/" rel="tag">
      <span>
        <%- tag.name %>
      </span> |
      <span>
        <%- tag.length %>
      </span>
    </a>
    <% }); %>
    <% } %>
  </div>
</div>