/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
button,
input,
select,
textarea {
  color: $color-text;
  font-family: 'Open sans',sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: bold;
  margin: 1.5em 0 1em;
}
p {
  margin: 1.5em 0;
  line-height: 1.8;
}
b,
strong {
  font-weight: bold;
}
cite,
dfn,
em,
i {
  font-style: italic;
}
address {
  margin: 0 0 1.5em;
}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
code,
kbd,
tt,
var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
ins,
mark {
  background: #fff9c0;
  text-decoration: none;
}
sub,
sup {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  bottom: 1ex;
}
sub {
  top: 0.5ex;
}
small {
  font-size: 75%;
}
big {
  font-size: 125%;
}
/*--------------------------------------------------------------
 Elements
--------------------------------------------------------------*/
a#more,
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #d3d3d3 1px solid;
  margin: 40px 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
li > ol,
li > ul {
  margin-bottom: 0;
  margin-left: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 1.5em 1.5em;
}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}
figure {
  margin: 0;
}
table {
  margin: 0 0 1.5em;
  width: 100%;
}
th {
  font-weight: bold;
}
h1, h2, h3, h4 {
  font-family: $font-family; }
h1 {
  font-size: 1.5rem;
 }

h1:hover {
  opacity: 0.7; }

h2 {
  font-size: 1.2em;}

h3 {
  font-weight: bold;
  font-size: 18px; }

h4 {
  font-size: 0.875em; }
blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
  color: $color-text;
  text-decoration: none;
}
a:visited {
  color: $color-text;
}
a:active,
a:focus,
a:hover {
  color: $color-text;
  opacity: 0.8;
}
/*--------------------------------------------------------------
Grad
--------------------------------------------------------------*/
.row {
  width: 100%;
  display: block;
  box-sizing: border-box;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@for $i from 1 through 10 {
  .col-1-#{$i} {
    width: 100% / $i;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
/*--------------------------------------------------------------
Common
--------------------------------------------------------------*/
.show-force {
  display: block !important;
}