@media screen and (max-width: 767px) {
  .logo a img {
    width: 100%;
  }
  .site-content {
    min-height: auto;
    .content-area {
      padding-top: 0;
    }
  }
  .site-header {
    position: relative;
    color:#fff;
    background-position-y: 0px;
    font-weight: 100;
    a{
      color:#fff;
      font-weight: 500;
    }
  }
  .menu{
    display: block;
    padding-top:5px; 
  }
  .search{
    box-shadow:0 0 0 0 transparent;
    background-color: transparent;
  }
  .navbox{
    background-color: #ccc;
  }
  .navbar {
    display: none;
    position: absolute;
    left: 0;
    top: 55px;
    padding: 0px;
    width: 100%;
    background: #efefef;
    border-bottom: 1px solid $grey-border;
    box-shadow: 0 2px 3px #dfdfdf;
    z-index: 9999;
    ul {
      display: block;
      li {
        width: 100%;
        padding: 10px 0;
        margin: 0;
        &::before {
          display: none;
        }
      }
    }
  }
  
  .navbar.active{
    display: block;
     .navbar-nav {
       display: block;
     }
     li{
       margin: 0;
     }
  }
  .post {
    .nav-links {
      display: none;
    }
  }

  .footer-widgets {
    .row {
      .col-1-1,
      .col-1-2,
      .col-1-3,
      .col-1-4 {
        float: none;
        width: auto;
        margin-bottom: 50px;
      }
    }
  }

  .archive ul.list {
    padding-left: 20px;
  }
.content-area{
  width: 100vw;
  padding: 2rem;
      
}
}
.search-box{
  width: 100%;
  left:0;
}


@media screen and (max-width: 320px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-header,
  .page .site-header,
  .home.paged .site-header {
    padding-left: 20px;
    padding-right: 20px;

  }
  .footer-widgets .inside-wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }

}
