.site-header {
  width: 100%;
  height: 500px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: -300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-inside {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1,h5{
    margin: .5rem;
  }
  h5{
    border-top:4px double;
    border-bottom:4px double;
    padding: .5rem 0;
  }
  a {
    display: block;
    img {
      display: block;
      width: 200px;
    }
  }
}

.navbox{
  display: flex;
  position: fixed;
  z-index: 200;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 900;
  width: 100%;
  
}
.navbar {
  box-shadow:1px 1px 1px rgb(90, 90, 90);
  background-color: #fff;
  ul {
    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
    }
    li:first-child{
      margin-left: 0px;
    }
    li {
      position: relative;
      float: left;
      margin-left: 20px;
      
      a {
        text-decoration: none;
        line-height: 1.5;
        padding:20px $nav-padding-top;
        color:#333;
        display: block;
         &:hover {
           background-color: #333;
           color: #fff;
           transition: all .5s ease-in-out;
         }
      }
    }
  }
}
