// colors
$color-title: #000;
$color-text: #3a3a3a;
$grey-border: #dcdcdc;

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
$container-width: 600px;
$inside-wrapper-width: 920px;
$icon-size: 20px;
$font-family: 'roboto',
'Noto Sans',
sans-serif;
// $font-family:-apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
