// colors
$color-title: #000;
$color-text: #3a3a3a;
$grey-border: #dcdcdc;

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
$container-width: 60vw;
$inside-wrapper-width: 920px;
$icon-size: 20px;
$font-family: futura-pt,
Helvetica,
Arial,
"Hiragino Sans GB",
"Hiragino Sans GB W3",
Microsoft JhengHei,
WenQuanYi Micro Hei,
"Microsoft YaHei",
sans-serif;
// Noto Sans, sans-serif;
// $font-family:-apple-system, BlinkMacSystemFont,"Helvetica Neue","PingFang-SC-Regular","STHeiti", "Helvetica","Arial","Verdana","sans-serif","Microsoft YaHei";
