// colors
$color-title: #000;
$color-text: #3a3a3a;
$grey-border: #dcdcdc;

// @font-face {
//   font-family: 'Noto Sans TC';
//   src: url('/plugins/webfont/NotoSansTC-Regular.otf');
// }
@font-face {
  font-family: 'Oswald-Regular';
  src: url('/plugins/webfont/Oswald-Regular.ttf');
}

// lenght
$header-height: 70px;
$nav-padding-top: 25px;
$container-width: 60vw;
$inside-wrapper-width: 920px;
$icon-size: 30px;
$font-family:"Avenir",Helvetica,Arial,'Microsoft JhengHei',sans-serif;
$spec-font:'Oswald-Regular';
$main-color-light:rgba(72, 104, 177, 0.096);
$main-color-dark:#8793b2;
$main-color-dpdk:rgb(85, 93, 107);