@media mq-mobile
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100px
    background: color-sidebar
    z-index: 999

@media mq-mobile
  .outer h1.title
    padding: 0
    margin-top: 8rem
    text-align: center
    a
      font-size: 1.3rem
  .mobile-nav-link
    float: left
    color: #fff
    text-decoration: none
    text-align: center
    line-height: 45px
    padding: 0 20px
    &:hover
      color: #fff

@media mq-tablet
  #mobile-nav
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 45px
    background: color-sidebar
    z-index: 999

@media mq-tablet
  .mobile-nav-link
    float: left
    color: #fff
    text-decoration: none
    text-align: center
    line-height: 45px
    padding: 0 20px
    &:hover
      color: #fff

@media mq-tablet
  .outer h1.title
    padding: 0
    margin-top: 8rem
    text-align: center
    a
      font-size: 1.3rem
  .mobile-nav-link
    float: left
    color: #fff
    text-decoration: none
    text-align: center
    line-height: 45px
    padding: 0 20px
    &:hover
      color: #fff
      
