<div class="author-info">
  <img
    src="<%- theme.about.avatar %>"
    alt="寇丁人妻日安"
  />
  <div class="info">
    <h3>CodingWife 寇丁人妻 日安</h3>
    <p>對設計、網路行銷及 Web 前端懷抱熱情的早婚女子，目前定居於台南，此部落格絕大多數為技術性分享。</p>
  </div>

</div>