.about{
  width: 100%;
  .about-header{
    display: flex;
    justify-content: space-around
  }
  .photo{
    width: 40%;
  }
  .about-brief{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    ul{
      width: 70%;
      line-height: 2rem;
    }
  }
  .about-content{
    width: 80%;
    margin:0 auto;
    text-align: center;
  }
}