/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.site-info {
  text-align: center;
  font-size: 0.750em;
  padding: .5rem 0;
  color: #8693b1;
  border-top: 1px solid #8693b1;
  margin-top: 2rem;
  .split {
    margin: 0 2px;
  }
  a {
    text-decoration: none;
    color: #8693b1;
  }
}
