.nav-fixer{
  position: fixed;
  z-index: 20;
  top:0;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 900;
  width: 100%;
}
.navbar {
  background-color: #fff;
  display: flex;
  height: 100%;
  position: relative;
  ul {
    display: flex;
    &:after {
      content: '';
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
    }
    li:first-child{
      margin-left: 0px;
    }
    li {
      position: relative;
      margin-left: 20px;
      svg {
        font-size: 1.2rem;
      }
      span{
        vertical-align: 2px;
        padding-left:2px;  
      }
      a {
        text-decoration: none;
        padding:20px $nav-padding-top;
        color:#333;
        display: block;
         &:hover {
           background-color: #333;
           color: #fff;
           transition: all .5s ease-in-out;
         }
      }
    }
  }
    h1 {
      width: 100%;
      text-align: center;
      font-size: 38px;
      font-weight: normal;
      letter-spacing: 1px;
      color: white;
      position: absolute;
      top: 50%;
      right: auto;
      bottom: auto;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    .trigger {
      width: 25px;
      height: 20px;
      position: absolute;
      top: 1rem;
      left: auto;
      bottom: auto;
      right: 30px;
      z-index: 3;
      cursor: pointer;
      transition: top .1s ease-in-out;
      span {
        display: block;
        width: 100%;
        height: 2px;
        background: $main-color-dark;
        margin: 0 0 5px 0;
        transition: all .2s ease-in-out;
        position: absolute;
        &:first-child {
          top: 0;
          left: 0;
        }
        &:nth-child(2) {
          top: 7px;
          left: 0;
        }
        &:last-child {
          top: 15px;
          left: 0;
        }
      }
      &.on {
        top: 1.5rem;
        span {
          background-color: white;
        }
        span:first-child {
          transform: rotate(45deg);
        }
        span:nth-child(2) {
          transform: rotate(-45deg);
          top: 0;
        }
        span:last-child {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
}

.menu {
  background: rgba(black, .85);
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  ul {
    list-style-type: none;
    padding: 0;
    left: 0;
    width: 250px;
    text-align: center;
    position: absolute;
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    li {
      font-family: 'Slabo 13px', serif;
      color: white;
      font-size: 24px;
      padding: 10px 0;
      a {
        color: white;
        &:visited {
          color: white;
        }
      }
    }
  }
}

.header-logo {
  height: 3.5rem;
  display: flex;
  align-items: center;
  img{
    width: 30px;
    margin:0 2rem;
  }
}
.logo-title{
  display: flex;
  justify-content: center;
  img{
    width: 350px;
    margin-top:8rem;
  }
}


/*--------------------------------------------------------------
Contact
--------------------------------------------------------------*/

.site-header {
  width: 620px;
  height: 415px;
  background-repeat: no-repeat;
  background-image: url('../../images/banner.jpg');
  background-size: cover;
  margin: 1rem;
  color:white;

}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h1,
  h5 {
    margin: .5rem;
  }
  h5 {
    border-top: 4px double;
    border-bottom: 4px double;
    padding: .5rem 0;
  }
  a {
    display: block;
    color:white;
    img {
      display: block;
      width: 200px;
    }
  }
}

